@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexRowCenter {
  display: flex;
  align-items: center;
}

@mixin flexRowFn($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
